@import "../../_theme/variables.scss";

.newsContainer {
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-toggle::before {
        content: "• ";
    }
    &.active .dropdown-toggle {
        color: $groove-green;
    }
    .dropdown-menu {
        background-color: $dark;
        color: $gray-300;
    }
    .dropdown-item {
        color: unset;
    }
}
