.jumbotron{
  background-size: cover;
  min-height: 64em;
  background-image: url("../../_assets/media/images/unleash_bg2.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: unset;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.outstandingFont {
  text-shadow: #676767 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px
}


.ideasCta{
  margin: 2% 2% 0% 91%;
  padding:2em 2em 2em 2em;
  
  
}

.ideasCta button{
  margin: 2em 2em 2em 2em;
  padding: 4px 9px 3px 9px;
  text-shadow: #676767 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px;
  background-color: #F700FF;

}

.ideasCta button:hover{
  text-shadow: #676767 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px;
  background-color: #F700FF;


}



