.cardAboutContainer {
    margin-top: -14rem;
}
.cardAboutSpacer {
    padding-top: 5rem;
}
.cardAboutBase {
    margin-bottom: 4rem;
    height: 30rem;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 50%);
}
.cardAboutBg {
    border-width: 2px;
    border-color: white;
    background-color: rgba(160, 160, 160, 0.4);
    background-position: center;
    background-repeat: no-repeat;
}