$groove-blue: #018eff;
$groove-caribbean: #00BAFF;
$groove-teal: #26C1C9;
$groove-green: #7ec344;
$groove-orange: #FF7849;
$groove-pumpkin: #F49342;
$groove-red: #d5002f;
$groove-purple: #A100FF;
$groove-lavender: #9C6ADE;
$groove-pink: #F580C0;
$groove-coral: #F98285;
$groove-yellow: #FFC82C;

// Operations blue
$operations-blue-light: #59B5FF;
$operations-blue: #008eff;
$operations-blue-dark: #004DFF;

// Accenture Purple
$accenture-purple-light: #A100FF;
$accenture-purple: #7500c0;
$accenture-purple-dark: #460073;

// Dark grays
$midnight: #212b36;
$blue-steel: #3c4858;
$slate: #637381;
$silver: #919EAB;

// Light grays
$snow: #f9fafb;
$snow-darker: #f4f6f8;
$smoke: #dfe3e8;
$smoke-dark: #c4cdd5;

// Red
$gr-red: #d5002f;

// Yellow
$yellow-light: #F7DA86;
$yellow: #FFC82C;
$yellow-dark: #D5A51C;

// Green
$green-light: #B8D69E;
$green: #7ec344;
$green-dark: #528626;

// Teal
$teal-light: #7CD9DE;
$teal: #26C1C9;
$teal-dark: #1A868C;

// Caribbean
$caribbean-light: #85D7FF;
$caribbean: #00BAFF;
$caribbean-dark: #078CCD;

// Royal
$royal-blue-light: #80A6FF;

$royal-blue: #004DFF;
$royal-blue-dark: #002E99;

// Lavender
$lavender-light: #E3D1FF;
$lavender: #9C6ADE;
$lavender-dark: #50238f;

// Pink
$pink-light: #FFC3E3;
$pink: #FFC3E3;
$pink-dark: #C0508C;

// Coral
$coral-light: #FBB4B5;
$coral: #F98285;
$coral-dark: #BA6163;

// Pumpkin
$pumpkin-light: #FFC58B;
$pumpkin: #F49342;
$pumpkin-dark: #C05717;

//Orange
$orange-light: #FABEA9;
$orange: #FF7849;
$orange-dark: #E34D1B;
