.articles-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > .card {
        flex: 0 45%;

        &:nth-child(odd) {
            margin-right: 0.5rem;
        }

        &:nth-child(even) {
            margin-left: 0.5rem;
        }

        &:not(:nth-child(0)),
        &:not(:nth-child(0)) {
            margin-top: 1rem;
        }
    }
}
