// @import "../../_theme/variables.scss";

/* .navbar-main {
    height: 50px;
    .container {
        position: relative;
    }
    &.navbar-expand {
        display: flex;
        justify-content: space-between;
    }

    .navbar-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-link {
        padding: 0;
    }
} */
.nav-link:hover{
    color: #F700FF;
    text-shadow: 
    #676767 0px 0px 5px,
  
    #F700FF 0px 0px 10px,
    #F700FF 0px 0px 20px,
    #F700FF 0px 0px 30px,
  }
.navbarTop {
    background-color: rgba(16, 25, 35, 0.7) !important;
}
