.cardBase {
    min-height: 30rem;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 50%);
    max-width: 87%;
    margin: 0 auto; 
    margin-bottom: 3rem;
  
}
.cardBg {
    border-width: 2px;
    background: rgb(2,0,36);
    background: transparent linear-gradient(161deg,#E2E2E214 0%,#A0A0A040 50%, #00000046 100%) 0% 0%
}